<div *ngIf="pokemon" class="container" @fadeDrop>
  <mat-card class="poke-card">
    <div
      class="poke-rarity"
      [ngClass]="{
        'legendary-banner': pokemonDetails?.is_legendary,
        'mythical-banner': pokemonDetails?.is_mythical,
        'common-banner':
          !pokemonDetails?.is_legendary && !pokemonDetails?.is_mythical
      }"
    >
      <span>{{ getPokemonRarity().toUpperCase() }}</span>
    </div>
    <mat-card-header>
      <mat-card-title id="poke-title">{{ pokemon.name }}</mat-card-title>
      <mat-card-subtitle>{{ getPokemonTypes().join(", ") }}</mat-card-subtitle>
    </mat-card-header>
    <div class="image-container">
      <img
        matCardImage
        id="poke-image"
        [src]="pokemon.sprites.front_default || 'assets/not-found.png'"
      />
    </div>
    <mat-card-content id="poke-description">
      {{ getPokemonDescription() || "..." }}
    </mat-card-content>
    <mat-card-footer id="poke-footer"
      >Habitat:
      <span>{{
        pokemonDetails?.habitat?.name || "Unknown"
      }}</span></mat-card-footer
    >
  </mat-card>
</div>
