.close-icon {
  position: absolute;
  right: 8px;
  top: 10px;
  cursor: pointer;
}

.info-icon {
  position: absolute;
  left: -23px;
  top: 11px;
}

span {
  padding: 0.8rem;
}

.log-label {
  position: relative;
  top: 11px;
  left: 40px;
}
