/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, black 99%, purple);
}

.spacer {
  aspect-ratio: 960 / 300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background {
  background-image: url("assets/background.svg");
}
